include ../button-standard/button-standard
include ../button-arrow/button-arrow
include ../percentage-circle/percentage-circle
include ../pie-chart/pie-chart
include ../range-slider/range-slider
include ../stages/stages
include ../toggle/toggle

mixin layout
  +toggle({
    color: 'turquoise',
    size: 'm'
  })
