include ../button-standard/button-standard
include ../button-arrow/button-arrow
include ../percentage-circle/percentage-circle
include ../pie-chart/pie-chart

mixin layout
  +pie-chart([
    { share: 3, color: 'light-grey' },
    { share: 2, color: 'terracotta' },
    { share: 3, color: 'turquoise' }
  ])
