include ../button-standard/button-standard
include ../button-arrow/button-arrow
include ../percentage-circle/percentage-circle
include ../pie-chart/pie-chart
include ../range-slider/range-slider
include ../stages/stages

mixin layout
  div(style='padding: 100px')
    +stages({
      current: 3,
      max: 5
    }, {
      color: 'turquoise',
      'line-thickness': 's',
      'stage-radius': 's'
    })
