mixin button-standard(buttonText = 'button', mods = {})
  -
    const { getClassList } = globals;

    const defaults = {
      size: 'm',
      color: 'terracotta'
    };

    const buttonStandard = getClassList({
      block: 'button-standard',
      mods: Object.assign(defaults, mods)
    });

    const text = getClassList({
      block: 'button-standard',
      element: 'text'
    });

  button(class=buttonStandard)
    span(class=text)= buttonText
