@import '../../color';

.toggle {
  font-family: 'Lato Black', sans-serif;
  display: inline-block;

  &__view {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    user-select: none;

    &:before,
    &:after {
      display: block;
      overflow: hidden;
      color: white;
      text-align: center;
      text-transform: uppercase;
      transition: width linear .1s;
    }

    &:before {
      content: 'on';
    }

    &:after {
      content: 'off';
    }
  }

  &__view-switch:before {
    content: '';
    display: block;
    background: white;
    padding-top: 100%;
    border-radius: 100%;
  }

  &_size {
    @mixin size-modifier(
      $name,
      $fontSize,
      $width,
      $height
    ) {
      &_#{$name} {
        $indent: $height / 9;
        $switchRadius: $height - 2 * $indent;

        .toggle__view {
          font-size: $fontSize;
          width: $width;
          height: $height;
          padding: $indent;
          border-radius: $height / 2;

          &:before {
            width: $width - 2 * $indent - $switchRadius;
          }

          &:after {
            width: 0;
          }
        }

        .toggle__view-switch {
          width: $switchRadius;
        }

        .toggle__checkbox {
          display: none;

          &:not(:checked) + .toggle__view {
            background: color(light-grey);

            &:before {
              width: 0;
            }

            &:after {
              width: $width - 2 * $indent - $switchRadius;
            }
          }
        }
      }
    }

    @include size-modifier(
      $name: s,
      $fontSize: .57rem,
      $width: 2.1rem,
      $height: 1rem
    );

    @include size-modifier(
      $name: m,
      $fontSize: .75rem,
      $width: 3.7rem,
      $height: 1.5rem
    );
  }

  &_color {
    @mixin color-modifier($color) {
      &_#{$color} {
        .toggle__view {
          background: color($color);
        }
      }
    }

    @include color-modifier(terracotta);
    @include color-modifier(turquoise);
  }
}
