mixin button-arrow(mods = {})
  -
    const { getClassList } = globals;

    const defaults = {
      direction: 'left',
      disabled: false,
      size: 'm',
      color: 'turquoise'
    };

    const buttonArrow = getClassList({
      block: 'button-arrow',
      mods: Object.assign(defaults, mods)
    });

  button(class=buttonArrow)
